#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.todo-container {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: lightgrey;
  border-radius: 5%;
}